DEFAULT_URL=localhost:3000
DEFAULT_SEARCH_DISTANCE=50
APP_SHORT_NAME=justbooked
APPNAME="Just Booked"
EMAIL_FROM=no-reply@justbooked.com
DEVISE_KEY="a4d505d07f5320a61538c77f5a67987d18616e679e9251abaa63085e934079d29f5a2509612ea3fec5660c89aa11889aa65c7e69cd97f4068e659febd4f9b7a32"
DOMAIN=localhost
CLOUDSPONGE_KEY=4ebcf761bb0a4386d91ad668a2da1a25c462b4cd
RUN_ON_HEROKU=false
STRIPE_PUBLISHABLE_KEY=pk_test_C74igWNlVunW4YYX1Q7IQTaf
STRIPE_SECRET=sk_test_gPcjosdEbzvJ5g9ArZ5wEkxs
AWS_ACCESS_KEY_ID=AKIAIYHHDECOFLBEH7WA
AWS_SECRET_ACCESS_KEY=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
S3_BUCKET_NAME=venuezz-production


TWILIO_PHONE_NUMBER=6476996567
TWILIO_ACCOUNT_SID=AC1505adb5e046fd07ad5f96b66f1fd63e
TWILIO_AUTH_TOKEN=0b254d01b5f369f108c76e5e25c9df0d

MASTER_SECRET_ON=YES
MASTER_SECRET=welcome01

WEB_CONCURRENCY=3
MAX_THREADS=5

REPORT_SERVER=http://localhost:3030