<% content_for :header do %>
Vendor Receipt
<% end %>

<% content_for :message do %>

<p>Receipt for your order at Just Booked.</p>
<p>TODO: Receipt</p>

<p>Best,<br/>
The Justbooked Team
<!-- <a href="http://www.justbooked.com">www.justbooked.com</a><br/> -->
</p>
<% end %>