<% content_for :header do %>
Your food is being prepared. 
<% end %>

<% content_for :header_paragraph do %>
  Questions? support@justbooked.com
<% end %>

<% content_for :message do %>

<p>TODO: Receipt</p>

<p>Best,<br/>
The Justbooked Team
<!-- <a href="http://www.justbooked.com">www.justbooked.com</a><br/> -->
</p>
<% end %>