<div class="container">
  <%= render 'process_navigation' %>

  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-12 col-md-8 col-md-offset-4 text-center">
      <h2>Let’s add your first menu item</h2>
      <p>Tip: It can be an individual item (e.g.) Soba Noodles or a package which includes several items. (e.g. Family dinner, serves 4, appetizer, main, dessert)</p>
    </div>
  </div>

  <%= render partial: 'menus/form', locals: {url: wizard_path(:first_menu), method: 'put'} %>
</div>