<div class="container-fluid">
  <div class="row align-items-center justify-content-center text-center">
    <div class="col-12 col-md-auto invite">
      <h3 class="pt-100">Great! Your invites have been sent successfully!</h3>
      <img src="/images/envelope.png" alt="" class="mtb-45">
      <h3 class="invite-title">Want to invite more people? <a href="javascript:history.back();">Send more invites</a></h3>
      <%= link_to "Go to My Listing", @chef.my_listings_path, class: "btn btn-primary"  %>
    </div>
  </div>
</div>