<% content_for :header do %>
    You’re invited to exclusively order chef <%= @chef.first_name %>’s meals.
<% end %>

<% content_for :message do %>
    <%= @message %>
    <%= link_to "#{@chef.first_name}'s Listing", @menu_link %>
<% end %>

<% content_for :footer do %>
    <h4 style="font-family: 'Rubik', 'Helvetica Neue', Helvetica, 'Arial', sans-serif; font-size: 15px; font-weight: 500; line-height: 100%; margin: 0 0 10px; text-transform: uppercase;">Thank you</h4>    
<% end %>



