<div class="submenu-wrapper">
  <div class="row no-gutters align-items-center justify-content-center justify-content-md-between submenu">
    <div class="col-12 col-md-auto">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <span class="breadcrumb-item active"><%= @chef.name %></span>
      </nav>
    </div>
    <div class="col-12 col-md-auto">
      <div class="location">
        <div class="location-search" style="display: none;">
          <input type="text" class="form-control location-search-input" placeholder="Search Location">
          <button type="button" class="btn location-search-close js-display-location">&times;</button>
        </div>
      </div>
    </div>
  </div>
</div>

