<div class="discover-places">
  <div class="container">
    <h2 class="text-center">Discover Restaurants in Ontario</h2>
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4">
        <a href="#" class="card card-inverse card-city">
      <img class="card-img" src="/images/city/richmond.jpg" alt="Richmond">
      <div class="card-img-overlay">
        <h4 class="card-title">Richmond</h4>
        <p class="card-text">15 restaurant</p>
      </div>
    </a>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <a href="#" class="card card-inverse card-city">
      <img class="card-img" src="/images/city/toronto.jpg" alt="Toronto">
      <div class="card-img-overlay">
        <h4 class="card-title">Toronto</h4>
        <p class="card-text">9 restaurant</p>
      </div>
    </a>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <a href="#" class="card card-inverse card-city">
      <img class="card-img" src="/images/city/vaugn.jpg" alt="Vaugn">
      <div class="card-img-overlay">
        <h4 class="card-title">Vaugn</h4>
        <p class="card-text">12 restaurant</p>
      </div>
    </a>
      </div>
    </div>
  </div>
</div>
