<footer class="footer">
  <button type="button" class="btn-scrolltop js-scrolltop">
    <span class="sr-only">scroll to top</span>
  </button>
  <div class="container">
    <div class="footer-links">
      <a href="#" id="chefSignupLink" class="h6">Are you a chef?</a>
      <a href="/pages/about_us" class="h6">About</a>
      <a href="http://www.blog.justbooked.com" class="h6">Blog</a>
      <a href="/messages/new" class="h6">Contact</a>
      <a href="/pages/terms" class="h6">Terms &amp; Conditions</a>
    </div>

    <div class="footer-social">
      <a href="http://www.facebook.com/justbooked">
        <img src="/images/social/facebook.png" srcset="/images/social/facebook.png 1x, /images/social/facebook@2x.png 2x" alt="Just Booked – Facebook">
      </a>
      <a href="https://twitter.com/justbooked_yyz">
        <img src="/images/social/twitter.png" srcset="/images/social/twitter.png 1x, /images/social/twitter@2x.png 2x" alt="Just Booked – Twitter">
      </a>
      <a href="https://www.instagram.com/justbookedca/">
        <img src="/images/social/instagram.png" srcset="/images/social/instagram.png 1x, /images/social/instagram@2x.png 2x" alt="Just Booked – Instagram">
      </a>
      <a href="https://www.pinterest.ca/justbooked_yyz">
        <img src="/images/social/pinterest.png" srcset="/images/social/pinterest.png 1x, /images/social/pinterest@2x.png 2x" alt="Just Booked – Pinterest">
      </a>
    </div>
    <p class="footer-copyright small">© <%= Time.current.year %> Justbooked  ALL RIGHTS RESERVED.</p>
  </div>
</footer>