<div class="popular-preset">
  <div class="container">
    <h2 class="text-center">Popular Amongst Just Bookers</h2>
    <div class="row">
      <div class="col-6 col-md-2">
        <figure class="restaurant">
          <a href="detail_view.html" class="restaurant-link">
        <span class="restaurant-tag restaurant-tag--price">$12/person</span>
        <img src="/images/presets/preset-1.jpg" alt="Restraunt 1" class="restaurant-img rounded" width="170" height="155">
      </a>
          <figcaption>
            <h6 class="restaurant-title">
              <a href="detail_view.html" style="color: inherit;">Wings, Fries &amp; Soft Drink</a>
            </h6>
            <div class="restaurant-text">Tilted Kilt Pub &amp; Eatery</div>
          </figcaption>
        </figure>
      </div>
      <div class="col-6 col-md-2">
        <figure class="restaurant">
          <a href="detail_view.html" class="restaurant-link">
        <span class="restaurant-tag restaurant-tag--price">$12.99/person</span>
        <span class="restaurant-tag restaurant-tag--discount">25% off</span>
        <img src="/images/presets/preset-2.jpg" alt="Restraunt 2" class="restaurant-img rounded" width="170" height="155">
      </a>
          <figcaption>
            <h6 class="restaurant-title">
              <a href="detail_view.html" style="color: inherit;">Pasta Bar</a>
            </h6>
            <div class="restaurant-text">Carole's Cheesecake Cafe</div>
          </figcaption>
        </figure>
      </div>
      <div class="col-6 col-md-2">
        <figure class="restaurant">
          <a href="detail_view.html" class="restaurant-link">
        <span class="restaurant-tag restaurant-tag--price">$45/person</span>
        <img src="/images/presets/preset-3.jpg" alt="Restraunt 3" class="restaurant-img rounded" width="170" height="155">
      </a>
          <figcaption>
            <h6 class="restaurant-title">
              <a href="detail_view.html" style="color: inherit;">Lebaratin Prestige</a>
            </h6>
            <div class="restaurant-text">Le Baratin</div>
          </figcaption>
        </figure>
      </div>
      <div class="col-6 col-md-2">
        <figure class="restaurant">
          <a href="detail_view.html" class="restaurant-link">
        <span class="restaurant-tag restaurant-tag--price">$19.95/person</span>
        <img src="/images/presets/preset-4.jpg" alt="Restraunt 4" class="restaurant-img rounded" width="170" height="155">
      </a>
          <figcaption>
            <h6 class="restaurant-title">
              <a href="detail_view.html" style="color: inherit;">Mastro's large pizza</a>
            </h6>
            <div class="restaurant-text">Mastro Roberto Trattoria &amp; Pizzeria</div>
          </figcaption>
        </figure>
      </div>
      <div class="col-6 col-md-2">
        <figure class="restaurant">
          <a href="detail_view.html" class="restaurant-link">
        <span class="restaurant-tag restaurant-tag--price">$45/person</span>
        <img src="/images/presets/preset-5.jpg" alt="Restraunt 5" class="restaurant-img rounded" width="170" height="155">
      </a>
          <figcaption>
            <h6 class="restaurant-title">
              <a href="detail_view.html" style="color: inherit;">The Experience</a>
            </h6>
            <div class="restaurant-text">Cadillac Jenkins</div>
          </figcaption>
        </figure>
      </div>
      <div class="col-6 col-md-2">
        <figure class="restaurant">
          <a href="detail_view.html" class="restaurant-link">
        <span class="restaurant-tag restaurant-tag--price">$11/person</span>
        <span class="restaurant-tag restaurant-tag--discount">19% off</span>
        <img src="/images/presets/preset-6.jpg" alt="Restraunt 6" class="restaurant-img rounded" width="170" height="155">
      </a>
          <figcaption>
            <h6 class="restaurant-title">
              <a href="detail_view.html" style="color: inherit;">Lunch Special</a>
            </h6>
            <div class="restaurant-text">Chabichou</div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
