<div class="reviews-container" style="display: none;">
  <div class="review-header">
    <div class="d-flex align-items-center">
      <div class="pr-3">
        <img src="/images/icons/reviews-icon.svg" alt="Reviews">
      </div>
      <div class="media-body">
      </div>
      <div>
        <button type="button" class="btn btn-link js-review-popup-close">×</button>
      </div>
    </div>
  </div>
  <div class="review-body">
    <div class="review-block">
    </div>
    <div class="review-block">
    </div>
  </div>
  <div class="review-footer">
  </div>
</div>