<div class="section-testimonials">
  <div class="hero--homepage__tint"></div>
  <div class="container">
    <div class="row text-center align-items-center">
      <div class="col testimonial">
        <p>"The way we order food for our most special events has changed. Just Booked really cares about making our experience memorable - every time. I can really tell how much your team cares!"</p>
        <h6>Stephanie Salina - (Pop Events)</h6>
      </div>
    </div>
  </div>
</div>
