<div class="modal welcome-modal" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body justify-content-center text-center">
        <h4>Enter your email + enjoy</h4>
        <div class="welcome-modal__title">15% off your entire order</div>
        <p class="welcome-modal__text text-semibold">“Hooray!” said you health.</p>
        <form action="">
          <div class="input-group mb-2">
            <input type="email" class="form-control" placeholder="Enter your email" required>
            <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-block text-uppercase">get my 15%</button>
          </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
