<div class="row align-items-center">
  <div class="col">
    <h1 class="hero-title">Order healthy meals from nearby chefs</h1>
    <form class="hero-form" action="listing.html" method="post">
      <div class="hero-form__input-wrapper">
        <input type="text" name="" value="" class="form-control form-control-lg hero-form__input hero-form__input--food" placeholder="Find Tacos, Cheap dinner, max’s">
      </div>
      <div class="hero-form__input-wrapper">
        <input type="text" name="" value="" class="form-control form-control-lg hero-form__input hero-form__input--location js-location-autocomplete"
          placeholder="Near Ontario">

      </div>
      <button type="submit" class="btn btn-primary btn-lg hero-form__button hero-form__button--submit">FIND VALUE MEALS</button>
      <span class="hero-form__input-text">or</span>
      <button type="button" class="btn btn-primary btn-lg hero-form__button hero-form__button--location js-detect-location">Current Location</button>
    </form>
  </div>
</div>