<div class="detail-top-bg about-us">
  <div class="page-title">ABOUT US</div>
</div>
<section class="secondary-info">
  <div class="container">
    <h4> With Just Booked, you'll always get great meals for any office occasion, or event from your favourite caterers and chefs and a super simple way to order in advance. </h4>
  </div>
</section>
<section class="how-it-works">
  <div class="container-fluid container-detail">
    <h2 class="text-center h2-60">What We Do</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="advantage">
          <div class="advantage-thumb">
            <img src="/images/icons/search.png" srcset="/images/icons/search.png 1x, /images/icons/search@2x.png 2x" class="rounded" alt="...">
          </div>
          <h4 class="advantage-title">1. Get Ideas</h4>
          <p class="advantage-text">Your day is busy enough. Our search experience makes it easy to get ideas on what meals to order.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="advantage">
          <div class="advantage-thumb">
            <img src="/images/icons/book.png" srcset="/images/icons/book.png 1x, /images/icons/book@2x.png 2x" class="rounded" alt="...">
          </div>
          <h4 class="advantage-title">2. Order online in minutes</h4>
          <p class="advantage-text">Once you've found what you'd like to order, our ordering experience lets you order quickly and easily. All orders are made in advanced so our chefs & caterers can prepare the perfect culinary experience for you.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="advantage">
          <div class="advantage-thumb" style="padding-top: 10px;">
            <img src="/images/icons/eat.png" srcset="/images/icons/eat.png 1x, /images/icons/eat@2x.png 2x" class="rounded" alt="...">
          </div>
          <h4 class="advantage-title">3. Only the best</h4>
          <p class="advantage-text">You can count on consistently good experiences, because our mission is to keep you full and fulfilled, pinky promise.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="our-mission">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>OUR MISSION</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>We will serve you great food every time, and a simple way to order it.</h4>
        </div>
      </div>
    </div>
  </section>
