<div class="detail-top-bg about-us">
  <div class="page-title">SIGNING UP GUIDE</div>
</div>

<!-- <section class="secondary-info">
  <div class="container">
    <h2 class="text-center red">Ready to start making money cooking?</h2>
    <p class="headline">Guess what? Remember how I mentioned that the first 100 chefs get to sign-up for free without having to pay the $49.99 sign-up fee? You're one of the first 100. </p>
  </div>
</section> -->

<section class="testimonials">
  <div class="container-fluid container-detail">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center">HEAR WHAT CHEFS ARE SAYING ABOUT US</h4>
      </div>
    </div>
<!-- 
    <div class="row testimonial-item mt-30 reverse">
      <div class="col-md-7">
        <div class="testimonial-text">
          <h3 class="name">
          <a href="https://www.justbooked.com/chefs/alicia-valadez">Alicia Valadez</a>
          <div class="label">
            <img src="https://www.justbooked.com/images/detail_card/category.png" srcset="https://www.justbooked.com/images/detail_card/category.png 1x, https://www.justbooked.com/images/detail_card/category@2x.png 2x" alt="Days of work" class="img-fluid card-icons" width="18" height="18">
            <span class="card-icon-text">Mexican</span></div>
            </h3>
            
            <p class="question">What was the inspiration for joining Just Booked?</p>
            <p class="answer">I love cooking street &amp; urban food, and cooking for workers. Just Booked allows me to feed people - cheap, healthly and fast with the best I can offer.</p>
            <p class="question">Why should a customer order from you over a restaurant?</p>
            <p class="answer">I think people need efficiecy when it comes to getting their food, and also have a desire to eat better and healthier. There is a lot of potential on the idea to cook the best food from your place of love, your home.</p>
          </div>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <div class="testimonial-image">
            <img src="/images/testimonials/alicia.jpg" class="img-fluid" alt="Alicia">
          </div>
        </div>
      </div>
 -->
    <!-- <div class="row testimonial-item mt-30">
      <div class="col-md-5">
        <div class="testimonial-image">
          <img src="/images/testimonials/bruce.jpg" class="img-fluid" alt="Bruce">
        </div>
      </div>
      <div class="col-md-7">
        <div class="testimonial-text">
          <h3 class="name">
            <a href="https://www.justbooked.com/chefs/bruce-chen">Bruce Chen</a>
            <div class="label">
              <img src="https://www.justbooked.com/images/detail_card/category.png" srcset="https://www.justbooked.com/images/detail_card/category.png 1x, https://www.justbooked.com/images/detail_card/category@2x.png 2x" alt="Days of work" class="img-fluid card-icons" width="18" height="18">
              <span class="card-icon-text">Asian, American, Healthy, Canadian</span>
            </div>
          </h3>
            
          <p class="question">What was the inspiration for joining Just Booked?</p>
          <p class="answer">I Joined Just Booked because eating out wasn't a plausible for a broke  college student and so, I turned to cooking to recreate the dishes I could not afford.</p>
          <p class="question">Why should a customer order from you over a restaurant?</p>
          <p class="answer">Restaurants get away with serving pre-prepared ”hot” dishes. They'll never have the capacity to cook you the hand-made food because they don't have to. Ordered food from a guy who cooks everything from scratch.</p>
        </div>
      </div>
    </div> -->

    <div class="row testimonial-item mt-30 reverse">
      <div class="col-md-7">
        <div class="testimonial-text">
          <h3 class="name">
            <a href="https://www.justbooked.com/chefs/amira-eskenazi">Amira Eskenazi</a>
            <div class="label">
              <img src="https://www.justbooked.com/images/detail_card/category.png" srcset="https://www.justbooked.com/images/detail_card/category.png 1x, https://www.justbooked.com/images/detail_card/category@2x.png 2x" alt="Days of work" class="img-fluid card-icons" width="18" height="18">
              <span class="card-icon-text">Italian, German</span>
            </div>
          </h3>
            
          <p class="question">What was the inspiration for joining Just Booked?</p>
          <p class="answer">I was inspired to join Just Booked because I'm professional freelance chef and I thought it would be a great way to get people to try my food. I work privately and not in restaurants so I have to be creative. It's also a great way to earn extra money.</p>
          <p class="question">Why should a customer order from you over a restaurant?</p>
          <p class="answer">They can order from both but with Just Booked the client knows they have the option to order things that other restaurants may not offer. Fusion, special holiday items etc. I cook out of a commercial kitchen and wipping something up while I'm working on other things is as close to home cooking as most clients will get outsite their own kitchens.</p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="testimonial-image">
          <img src="/images/testimonials/amira.jpg" class="img-fluid" alt="Amira">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="secondary-info">
  <div class="container">
    <p class="mb-0">
      Below is a simple guide on how to sign-up, and get started.
    </p>
  </div>
</section>
    
  <section class="how-it-works">
    <div class="container-fluid container-detail">
      <div class="row">
        <div class="col-md-12">
          <h2>How to Sign Up as a Chef.</h2>
        </div>
      </div>
      <div class="row mt-40">
        <div class="col-md-12 col-sm-12 step">
          <div class="detail">
            <h4>Step 1.</h4>
            Visit justbooked.com.
          </div>
          <div class="image">
            <img src="/images/step1.gif" alt="Search" class="img-fluid">
          </div>
        </div>
        
        <div class="col-md-12 col-sm-12 step">
          <div class="detail">
            <h4>Step 2.</h4>
            Click "Create Listing" and enter your account information.
          </div>
          <div class="image">
            <img src="/images/step2.gif" alt="Search" class="img-fluid">
          </div>
        </div>
        
        <div class="col-md-12 col-sm-12 step">
          <div class="detail">
            <h4>Step 3.</h4>
            Confirm your email address and sign in.
          </div>
          <div class="image">
            <img src="/images/step3.gif" alt="Search" class="img-fluid">
          </div>
        </div>
        <div class="col-md-12 col-sm-12 step">
          <div class="detail">
            <h4>Step 4.</h4>
            Sign in, and click on "Create Listing" and fill out Step 1 of the sign-up process, including setting your work schedule (you can choose the days and times that you work, and leave the days set to "Not working" that you don't work). Your listing will only pop-up for customers to order from during the days, and times that you are working.
            The maximum delivery radius is also a way to control how far you are willing to deliver. Your listing will only show up to customers within that range.
          </div>
          Watch the video here for Step 4 - https://youtu.be/h5LjoJbLfIE
        </div>
        <div class="col-md-12 col-sm-12 step">
          <div class="detail">
            <h4>Step 5.</h4>
            Add your first menu item. Name it, choose a picture of the menu item, describe it (sell it!) and choose which cuisine type category it fits into, or add a new category and click continue!
          </div>
          <div class="image">
            <img src="/images/step5.gif" alt="Search" class="img-fluid">
          </div>
        </div>
        <div class="col-md-12 col-sm-12 step">
          <div class="detail">
            <h4>Step 6.</h4>
            You will need a void cheque from your bank for this step. We are now setting up your direct deposits. When customers order from you and pay by credit card, you will receive the funds directly deposited into your chosen bank account within 3-5 business days.
          </div>
          <div class="image">
            <img src="/images/step6.gif" alt="Search" class="img-fluid">
          </div>
        </div>
        <div class="col-md-12 col-sm-12 step">
          <div class="detail">
            <h4>Step 7.</h4>
            You're almost ready! Lastly, let's promote your newly created listing with your network (friends, family, colleagues, neighbours!). Click on import contacts and choose your email provider and sign in, select email contacts that you would like to share your listing with, so they can order from you and try your food! If you'd rather not import contacts, you can type in their email addresses manually, and separate them by commas. Example: myrawalker1234@gmail.com, prestonmartinez1234@gmail.com
            
          Once you've added your contacts, click Send Invites. </p>
        </div>
        <div class="image">
          <img src="/images/step7.gif" alt="Search" class="img-fluid">
        </div>
      </div>
      <div class="col-md-12 mb-100 mt-30 step">
        <h2 class="text-center">WATCH THE FULL SIGN UP GUIDE HERE</h2>
        <div class="embed-responsive embed-responsive-16by9 mt-30">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3VzDddMFuJY"></iframe>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 step">
        <div class="detail">
          
          Your selected contacts will receive an email notification similar to the one in the below video.
          https://youtu.be/8y_2tSXvCf4
        </div>
        <p>
          That's all there is to it! Just 7 easy steps and you'll be cooking and selling your food to your community, friends, family, colleagues, and neighbours in no time!
          
          If you need any further assistance in getting signed up email support@justbooked.com.
          
        Happy cooking! </p>
      </div>
    </div>
  </div>
</section>

<section class="our-mission">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>OUR MISSION</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Just Booked’s mission is to provide the best quality, authentic food, delivered fast and hot, at fair prices and in the process connect people with their community.</p>
      </div>
    </div>
  </div>
</section>
