<section class="payment-failure">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wraper mt-50 pt-50">
            <hr>
            
            <div class="content text-center">
              <img src="/images/failed-icon.svg" class="mt-25 mb-24" alt="">
              <p>Your payment could not be processed at this time.</p>
              <p class="pb-40">Please try again <a href="">Click here</a></p>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
</section>