<section class="payment-failure">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wraper mt-50 pt-50">
          <hr>
          
          <div class="content text-center">
            <img src="/images/success-icon.svg" class="mt-25 mb-24" alt="">
            <p>Your payment has been successfully processed</p>
            <p class="pb-40">Your order is on its way to the chef, your card will <br> only be charged when the order is accepted.</p>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>


<%= javascript_tag do %>
  <!-- Initialize cart -->
  Lockr.flush();
<% end %>
