<div class="container your-reviews"> 
    <div class="row">
      <div class="col-md-12">
        <h3 class="mt-5 mb-20">Your reviews</h3>
        <div class="row bor-b mb-15 pb-3">
          <div class="col-md-12">
            <p class="title">Chicken Yakitori</p>
            <p class="name">By Chef John (put *chef's name*)</p>
            <span class="restaurant-rating js-rateyo"></span>
          </div>
          <div class="col-md-3 col-sm-12">
            <img src="images/listing/le-baratin.png" alt="" class="img-fluid">
          </div>
          <div class="col-md-9 col-sm-12 text-right">
            <form action="">
              <div class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="7" placeholder="Write your review here"></textarea>
              </div>
              <button class="btn btn-primary right-align">SUBMIT</button>
            </form>
          </div>
        </div>

        <div class="row bor-b mb-15 pb-3">
          <div class="col-md-12">
            <p class="title">Chicken Yakitori</p>
            <p class="name">By Chef John (put *chef's name*)</p>
            <span class="restaurant-rating js-rateyo"></span>
          </div>
          <div class="col-md-3 col-sm-12">
            <img src="images/listing/le-baratin.png" alt="" class="img-fluid">
          </div>
          <div class="col-md-9 col-sm-12 text-right">
            <form action="">
              <div class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="7" placeholder="Write your review here"></textarea>
              </div>
              <button class="btn btn-primary right-align">SUBMIT</button>
            </form>
          </div>
        </div>

        <div class="row mb-15 pb-3">
          <div class="col-md-12">
            <p class="title">Chicken Yakitori</p>
            <p class="name">By Chef John (put *chef's name*)</p>
            <span class="restaurant-rating js-rateyo"></span>
          </div>
          <div class="col-md-3 col-sm-12">
            <img src="images/listing/le-baratin.png" alt="" class="img-fluid">
          </div>
          <div class="col-md-9 col-sm-12 text-right">
            <form action="">
              <div class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="7" placeholder="Write your review here"></textarea>
              </div>
              <button class="btn btn-primary right-align">SUBMIT</button>
            </form>
          </div>
        </div>
        
      </div>

    </div>
  </div>


    
      <section class="section-newsletter">
  <div class="container">
    <h6 class="newsletter-title">Join the insiders club</h6>
    <p class="newsletter-text">and get updates on the newest and hottest restaurants.</p>
    <form action="index.html" method="post" class="newsletter-form mx-auto">
      <input type="text" name="" value="" class="form-control newsletter-input newsletter-input--email" placeholder="Enter your email">
    </form>
  </div>
</section>